.slider {
  background-image: url("../../assets/images/city.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: contain;
  min-height: 700px;

  .mainText {
    flex-direction: column;

    .topText {
      background-color: #e2eaed;
      height: 35px;
      width: 300px;
      border-radius: 30px;
      color: #242f51;
      line-height: 35px;

      .circle {
        width: 35px;
        background-color: #feaa25;
        height: 35px;
        border-radius: 30px;
        text-align: center;
        line-height: 30px;
        margin-right: 10px;
      }
    }

    .title {
      h1 {
        color: #242f51;
        font-weight: bold;
        font-size: 60px;
        margin-bottom: 15px;
      }
    }

    .description {
      margin-bottom: 20px;
      color: #616368;
      font-size: 18px;
    }

    .cta-btns {
      a {
        margin-right: 20px;
        text-decoration: none;
        font-weight: bold;
        transition: all 0.2s;
      }

      a:first-child {
        padding: 10px 30px !important;
        border-radius: 22px;
        background-color: #2500f9;
        color: white !important;

        &:hover {
          box-shadow: 0px 6px 10px #2500f942;
        }
      }

      a:last-child {
        border-radius: 22px;
        color: #2500f9;
      }
    }
  }

  .mobile {
    img {
      max-width: 100%;
    }
  }
}


@media screen and (max-width: 991px) {
  .slider {
    min-height: 500px;
    .mainText {
      .title {
        h1 {
          font-size: 40px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slider {
    .mainText {
      .cta-btns {
        a:first-child {
          padding: 10px 10px !important;
          font-size: 14px;
        }
        a:last-child {
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .slider {
    min-height: 400px;
    .mainText {
      .title {
        h1 {
          font-size: 30px;
        }
      }
    }
  }
}


@media screen and (max-width: 575px) {
  .slider {
    background: none;
  }
}